fastapi==0.75.1
pandas==2.2.1
sqlalchemy==2.0.27
requests==2.27.1
catboost==1.2.5
numpy==1.26.4
pydantic==1.9.1
scikit_learn==1.4.1
lightgbm==2.0.3
xgboost==1.6.1
psycopg2-binary==2.9.3
uvicorn==0.16.0
category-encoders==2.5.0
loguru==0.6.0
implicit==0.7.2
lightfm==1.17


#pandas==2.2.1
#numpy==1.26.4
#matplotlib==3.8.3
#notebook==7.1.2
#scikit-learn==1.4.1.post1
#seaborn==0.13.2
#openpyxl==3.1.2
#mlxtend==0.23.1
#category-encoders==2.6.3
#catboost==1.2.5
#lightgbm==3.3.2

#fastapi==0.75.1
#sqlalchemy==1.4.35
#requests==2.27.1
#pydantic==1.9.1
#xgboost==1.6.1
#psycopg2-binary==2.9.3
#uvicorn==0.16.0
#loguru==0.6.0
#implicit==0.5.2
#lightfm==1.16


